<!DOCTYPE html>
<html>
  <head>
    <title>Angular</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
    <base href="/" />
    <script>

      (function(){
        angular
          .module("wdinstagram", [
            "ui.router"
          ])
          .config([
            "$stateProvider",
            RouterFunc
          ])
          .controller("EntriesIndexCtrl", EntriesIndexCtrlFunc)
          .controller("EntriesShowCtrl", EntriesShowCtrlFunc)

          function RouterFunc($stateProvider) {
            $stateProvider
              .state("entriesIndex", {
                url: "/entries",
                templateUrl: "entries/index.html",
                controller: "EntriesIndexCtrl",
                controllerAs: "indexVm"
              })
              .state("entryShow", {
                url: "entryies/:id",
                templateUrl: "entries/show.html",
                controller: "EntriesShowCtrl",
                controllerAs: "showVm"
              })
          }

          var dummyData = [
            {
              photo_url: "http://fillmurray.com/300/200",
              author: "author1",
              body: "body1"
            },
            {
              photo_url: "http://fillmurray.com/300/200",
              author: "author2",
              body: "body2"
            }
          ]

          function EntriesIndexCtrlFunc() {
            var indexVm = this;
            indexVm.entries = dummyData;
            indexVm.newEntry = {};

            indexVm.create = function() {
              dummyData.push(indexVm.newEntry);
              indexVm.newEntry = {};
            }
          }

          EntriesShowCtrlFunc.$inject = ["$stateParams"]
          function EntriesShowCtrlFunc($stateParams) {
            var showVm = this;
            showVm.entry = dummyData[$stateParams.id]

            showVm.update = function() {
              dummyData[$stateParams.id].title = showVm.entry;
            };

            showVm.delete = function() {
              dummyData.splice( $stateParams.id, 1 );
            }
          }

      })();

    </script>
    <!-- <script src="js/app.js"></script> -->
  </head >
  <body data-ng-app="wdinstagram">
    <h1>WDInstagram</h1>
    <a data-ui-sref="entriesIndex">Entries Index</a>
    <div data-ui-view></div>

    <script type="text/ng-template" id="entries/index.html">
      <h2>Entries Index</h2>
      <!-- create -->
      <form data-ng-submit="indexVm.create()">
        <input placeholder="Author" data-ng-model="indexVm.newEntry.author" />
        <input placeholder="Body" data-ng-model="indexVm.newEntry.body" />
        <input placeholder="Photo Url" data-ng-model="indexVm.newEntry.photo_url" />
        <button type="submit">Create</button>
      </form>
      <br><!-- br-king bad (generally avoid br's) -->

      <div data-ng-repeat="entry in indexVm.entries">
        <a data-ui-sref="entryShow({id: $index})">
          <!-- wrapped repeated items in a link so the entire entry is clickable -->
          <img data-ng-src="{{entry.photo_url}}">
          <p>{{entry.author}}</p>
          <p>{{entry.body}}</p>
        </a>
      </div>
    </script>
    <script type="text/ng-template" id="entries/show.html">
      <h2>Entry Show</h2>
      <img data-ng-src="{{showVm.entry.photo_url}}">
      <p>{{showVm.entry.author}}</p>
      <p>{{showVm.entry.body}}</p>

      <!-- Edit/Delete  -->
      <form data-ng-submit="showVm.create()">
        <input placeholder="Author" data-ng-model="showVm.entry.author" />
        <input placeholder="Body" data-ng-model="showVm.entry.body" />
        <input placeholder="Photo Url" data-ng-model="showVm.entry.photo_url" />
        <button type="submit">Update</button>
        <button data-ui-sref="entriesIndex" data-ng-click="showVm.delete()">Delete</button>
      </form>
    </script>
  </body>
</html>
